// 覆盖变量
$base-accent: #f70707;
$base-success: rgba(155, 215, 50, 1);
$base-warning: rgba(255, 125, 30, 1);
$base-danger: rgba(222, 0, 46, 1);
$base-text-color: rgba(255, 255, 255, 1);

// $base-font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
// $base-accent: #1ca8dd;
// $base-label-color: #dedede;
// $base-link-color: #1ca8dd;
// $base-icon-color: #dedede;
// $base-text-color: #dedede;
// $base-bg: #2a2a2a;
// $base-border-color: #4d4d4d;
// $base-border-radius: 4px;
// $base-success: #5cb85c;
// $base-warning: #f0ad4e;
// $base-danger: #d9534f;
// $base-hover-color: #dedede;
// $base-hover-bg: #ffffff0d;
// $base-focus-color: #2a2a2a;
// $base-focus-bg: #1ca8dd;
// $base-invalid-color: #d9534f;
// $base-invalid-faded-border-color: #d9534f66;
// $base-border-radius-small: 3px;
// $base-border-radius-large: 6px;
// $button-normal-color: #dedede;
// $button-normal-bg: #2a2a2a;
// $button-normal-border-color: #4d4d4d;
// $button-default-color: #2a2a2a;
// $button-default-bg: #1ca8dd;
// $button-default-border-color: #1997c6;
// $button-danger-color: #2a2a2a;
// $button-danger-bg: #d9534f;
// $button-danger-border-color: #d43f3a;
// $button-success-color: #2a2a2a;
// $button-success-bg: #5cb85c;
// $button-success-border-color: #4cae4c;
// $list-border-color: #4d4d4d;
// $list-group-color: #dedede;
// $list-group-header-bg: #3b3b3b0d;
// $list-normal-color: #dedede;
// $list-item-hover-bg: #ffffff0d;
// $list-item-selected-bg: #ffffff1f;
// $list-item-focused-selected-bg: #1ca8ddb3;
// $list-focused-bg: #1ca8dd;
// $list-item-active-bg: #1ca8dd;
// $fieldset-field-label-color: #dedede;
// $checkbox-border-color: #4d4d4d;
// $checkbox-focused-borderd-color: #1ca8dd;
// $checkbox-bg: #2a2a2a;
// $checkbox-hover-border-color: #4ebee9;
// $checkbox-active-icon-bg: #c9c9c933;
// $button-group-normal-selected-color: #dedede;
// $button-group-normal-selected-bg: #ffffff2b;
// $button-group-default-selected-color: #1ca8dd;
// $button-group-default-selected-bg: #1ca8dd4d;
// $button-group-danger-selected-color: #d9534f;
// $button-group-danger-selected-bg: #d9534f4d;
// $button-group-success-selected-color: #5cb85c;
// $button-group-success-selected-bg: #5cb85c4d;
// $scrollable-scroll-bg: #6a6a6ab3;
// $scrollable-scrollbar-active-bg: #6a6a6a33;
// $switch-border-color: #4d4d4d;
// $switch-on-color: #dedede;
// $switch-container-active-bg: #c9c9c933;
// $switch-off-color: #787878;
// $tabs-tab-color: #dedede;
// $tabs-tab-selected-color: #dedede;
// $tabs-tab-bg: #323232;
// $tabs-tab-selected-bg: #2a2a2a;
// $tabs-border-color: #4d4d4d;
// $tabs-focused-border-color: #1ca8dd;
// $tabs-tab-hover-bg: #2a2a2a;
// $badge-color: #2a2a2a;
// $badge-bg: #1ca8dd;
// $navbar-tab-color: #dedede;
// $navbar-tab-selected-color: #dedede;
// $navbar-tab-bg: #222222;
// $navbar-tab-selected-bg: #2a2a2a;
// $overlay-content-bg: #2a2a2a;
// $overlay-shader-bg: #2a2a2acc;
// $overlay-focus-border-color: #4d4d4d;
// $textbox-search-icon-color: #787878;
// $texteditor-color: #dedede;
// $texteditor-placeholder-color: #787878;
// $texteditor-bg: #2a2a2a;
// $texteditor-filled-bg: #dedede0d;
// $texteditor-border-color: #4d4d4d;
// $texteditor-focused-border-color: #1ca8dd;
// $texteditor-hover-border-color: #1ca8dd66;
// $dropdowneditor-button-hover-bg: #111111;
// $dropdowneditor-button-active-bg: #000000;
// $dropdowneditor-icon-color: #dedede;
// $dropdowneditor-icon-active-color: #dedede;
// $numberbox-spin-active-bg: #000000;
// $numberbox-spin-hover-border-color: transparent;
// $numberbox-spin-icon-color: #dedede;
// $calendar-color: #dedede;
// $calendar-header-color: #787878;
// $calendar-cell-other-color: #616161;
// $calendar-bg: #2a2a2a;
// $calendar-hover-bg: #ffffff0d;
// $calendar-cell-selected-bg: #1ca8dd;
// $calendar-cell-active-bg: #c9c9c933;
// $calendar-border-color: #4d4d4d;
// $calendar-navigator-border-color: #4d4d4d;
// $calendar-navigator-hover-border-color: #4d4d4d;
// $calendar-shevron-icon-color: #1ca8dd;
// $loadindicator-bg: #b1b1b1;
// $treeview-focused-bg: #1ca8dd;
// $treeview-hover-bg: #ffffff0d;
// $treeview-border-color: #4d4d4d;
// $treeview-item-selected-color: #dedede;
// $treeview-spin-icon-color: #dedede;
// $menu-popup-bg: #2a2a2a;
// $menu-item-hover-bg: #ffffff0d;
// $menu-color: #dedede;
// $menu-item-hovered-color: #dedede;
// $menu-item-expanded-color: #dedede;
// $menu-item-selected-bg: #444444;
// $menu-popup-border-color: #4d4d4d;
// $selectbox-list-bg: #2a2a2a;
// $toolbar-bg: #2a2a2a;
// $popup-title-bg: transparent;
// $tileview-color: #dedede;
// $toast-color: #ffffff;
// $toast-info-bg: #1ca8dd;
// $toast-warning-bg: #f0ad4e;
// $toast-error-bg: #d9534f;
// $toast-success-bg: #5cb85c;
// $progressbar-bg: #4c4c4c;
// $progressbar-range-bg: #1ca8dd;
// $tooltip-color: #dedede;
// $tooltip-bg: #2a2a2a;
// $tooltip-border-color: #4d4d4d;
// $slider-bar-bg: #4d4d4d;
// $slider-range-bg: #1ca8dd;
// $gallery-indicator-bg: #2a2a2a;
// $gallery-indicator-item-selected-bg: #1ca8dd;
// $gallery-indicator-focused-bg: #5bc3ea;
// $gallery-navbutton-hover-color: #1ca8dd80;
// $gallery-nav-arrow-color: #2a2a2a;
// $gallery-navbutton-active-color: #1ca8ddb3;
// $loadpanel-content-bg: #2a2a2a;
// $tagbox-tag-color: #dedede;
// $tagbox-tag-bg: #4c4c4c;
// $tagbox-tag-button-remove-bg: #7f7f7f;
// $radiogroup-checked-bg: #1ca8dd;
// $radiobutton-active-bg: #00000033;
// $accordion-color: #dedede;
// $accordion-title-color: #dedede;
// $accordion-item-title-opened-bg: transparent;
// $accordion-item-border-color: #4d4d4d;
// $accordion-item-focused-border-color: #1ca8dd;
// $accordion-title-active-color: #dedede;
// $accordion-item-hover-bg: #ffffff0d;
// $accordion-icon-active-color: #dedede;
// $colorbox-overlay-bg: #2a2a2a;
// $datagrid-base-color: #dedede;
// $datagrid-base-background-color: #2a2a2a;
// $datagrid-border-color: #4d4d4d;
// $datagrid-columnchooser-item-color: #7c7c7c;
// $datagrid-columnchooser-font-weight: normal;
// $datagrid-drag-header-border-color: #1ca8dd80;
// $datagrid-selection-bg: #444444;
// $datagrid-row-selected-border-color: #4d4d4d;
// $datagrid-row-selected-color: #dedede;
// $datagrid-row-focused-color: #2a2a2a;
// $datagrid-row-focused-bg: #1f8fb9;
// $datagrid-hover-bg: #ffffff0d;
// $datagrid-menu-icon-color: #888888;
// $datagrid-cell-modified-border-color: #5cb85c80;
// $datagrid-row-invalid-faded-border-color: #d9534f66;
// $datagrid-nodata-color: #787878;
// $datagrid-group-row-color: #7c7c7c;
// $datagrid-group-row-bg: #323232;
// $datagrid-search-color: #2a2a2a;
// $datagrid-spin-icon-color: #7c7c7c;
// $datagrid-search-bg: #1ca8dd;
// $datagrid-row-error-color: #dedede;
// $datagrid-row-error-bg: #934340;
// $datagrid-link-color: #1ca8dd;
// $datagrid-focused-border-color: #1f8fb9;
// $datagrid-editor-bg: #2a2a2a;
// $datagrid-columnchooser-bg: #2a2a2a;
// $datagrid-row-alternation-bg: #343434;
// $datagrid-summary-color: #dededeb3;
// $pager-page-selected-color: #dedede;
// $pager-page-selected-bg: #555555;
// $pivotgrid-area-color: #929292;
// $pivotgrid-totalcolor: #303030;
// $pivotgrid-grandtotalcolor: #ffffff0d;
// $pivotgrid-field-area-text-color: #d4d4d4;
// $pivotgrid-spin-icon-color: #7d7d7d;
// $fileuploader-filename-color: #dedede;
// $fileuploader-falename-status-color: #787878;
// $fileuploader-border-color: #4d4d4d;
// $scheduler-base-border-color: #4d4d4d99;
// $scheduler-accent-border-color: #666666;
// $scheduler-appointment-text-color: #2a2a2a;
// $scheduler-appointment-base-color: #1ca8dd;
// $scheduler-appointment-start-color: #0000004d;
// $scheduler-first-month-border-color: #808080;
// $scheduler-workspace-focused-cell-color: #89d4f0;
// $scheduler-current-time-cell-color: #1ca8dd;
// $scheduler-time-indicator-color: #5bc3ea;
// $form-field-item-color: #dedede;
// $form-group-border-color: #4d4d4d;
// $filterbuilder-text-color: #000000;
// $filterbuilder-text-focus-color: #000000;
// $filterbuilder-plus-icon-color: #5cb85ccc;
// $filterbuilder-remove-icon-color: #d9534fcc;
// $filterbuilder-group-operation-color: #d9534fcc;
// $filterbuilder-item-field-color: #1ca8ddcc;
// $filterbuilder-item-operator-color: #5cb85ccc;
// $filterbuilder-item-value-color: #cccccccc;
// $filterbuilder-menu-icon-color: #888888;
// $drawer-shader-background-color: #00000080;


